#cases-page {
  article {
    padding-bottom: 2rem;

    h1 {
      font-size: 5rem;
      width: 50rem;
    }
  }

  @media(max-width: 1000px) {
    article {
      h1 {
        font-size: 3rem;
        width: auto;
      }
    }
  }
}
