#intro-page {
  align-self: flex-start;
  width: 100%;
  height: calc(100vh - 65px);

  article {
    display: flex;
    justify-content: space-between;
    height: 100%;

    h1 {
      max-width: 35rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      padding-bottom: 4rem;

      img {
        width: 15rem;
      }

      .options {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4rem;

        a {
          margin-bottom: 1rem;
          margin-right: 1rem;
        }
      }
    }  
  }

  @media(max-width: 1000px) {
    article {
      flex-direction: column;

      h1 {
        font-size: 3rem;
        width: auto;
      }

      > div {
        img {
          margin-top: 0;
        }
      }
    }
  }

  @media(max-width: 550px) {
    article {
      padding-bottom: 2rem;

      > div {
        align-self: center;

        img {
          align-self: center;
        }

        .options {
          align-self: flex-start;
          flex-direction: column;
          text-align: center;
          flex-wrap: nowrap;

          a {
            margin-right: 0;
          }
        }
      }
    }
  }
}
