#nav {
  width: 100%;
  padding: .9rem;

  img {
    width: 12.5rem;
  }

  hr {
    margin-top: .9rem;
    opacity: .05;
    border: .5px solid $vh-black;
    width: 100%;
    position: absolute;
    left: 0;
  }
}
