#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;

  .project {
    margin: 1rem;
    padding: 2rem;
    height: 15rem;
    width: 15rem;
    background: $vh-yellow;
  }
}
