#projects {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;

  .project {
    margin: 1rem;
    padding: 1rem;
    height: 20rem;
    width: 20rem;
    text-decoration: none;
    color: $vh-blue;
    border: 3px solid $vh-blue;
    position: relative;
    overflow: hidden;

    &:hover,
    &:focus {
      > div {
        padding-bottom: 10rem;
      }
    }

    p {
      font-size: 2rem;
      margin-top: 0;
      font-weight: 700;
      line-height: 2rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 320px;
      background: $vh-gray;
      padding: 1rem;
      position: absolute;
      margin: 0;
      bottom: 0;
      left: 0;
      transition: padding-bottom .3s ease-out;

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;

        li {
          background: $vh-blue;
          color: #fff;
          margin: .2rem;
          padding: .4rem;
          font-size: .9rem;
          height: 1rem;
        }
      }
    }
  }
}
