#projects {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  width: 100vw;
  background: #fff;

  .project {
    margin: 1rem;
    padding: 2rem;
    height: 25rem;
    width: 25rem;
    text-decoration: none;
    color: $vh-blue;
    position: relative;
    box-sizing: border-box;
    border: 3px solid $vh-blue;
    transition: .3s border;

    &:hover,
    &:focus {
      border: 6px solid $vh-blue;

      > div {
        ul {
          li {
            animation: bounce 2s infinite ease-out;
          }
        }
      }
    }

    p {
      width: 100%;
      font-size: 2rem;
      margin-top: 0;
      font-weight: 700;
      line-height: 2rem;
      text-align: center;
      transition: .4s all;
      word-break: break-word;
    }

    > div {
      box-sizing: border-box;
      width: 100%;
      padding: 1rem;
      position: absolute;
      margin: 0;
      bottom: 0;
      left: 0;

      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        padding-left: 0;

        li {
          background: $vh-yellow;
          color: $vh-blue;
          margin: .2rem;
          padding: .4rem;
          font-size: .9rem;
          height: 1rem;
          line-height: normal;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  10% {
    transform: translateY(-10px);
  }

  15% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-10px);
  }

  30% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}
